.content-card {
    margin: 20px;
    padding: 20px 18px 20px 18px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff
}

.content-card-graphic {
    margin: 0 77px 0 78px;
    text-align: center;
}

.content-column {
    display: flex;
    flex-direction: row;
}

.content-row {
    display: flex;
    flex-direction: column;
}