<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="snow">
        <ion-icon color="snow" slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-title color="snow">Ana Carretero</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-title color="snow">Semana 1</ion-title>
      <ion-button color="snow">
        <ion-icon color="snow" slot="icon-only" name="today-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="content-card">
    <div class="content-card-graphic">
      <ion-icon color="sky" slot="center" size="large" name="stats-chart-outline"></ion-icon>
      <ion-title size="large" color="sky">Vas Genial</ion-title>
      <div class="content-column">
        <ion-title size="small">924</ion-title>
        <ion-icon size="small" name="fast-food-outline"></ion-icon>
        <ion-title size="small">2600</ion-title>
        <ion-icon size="small" name="flame-outline"></ion-icon>
      </div>
    </div>
  </div>

  <div class="content-card">
    <div class="content-column">
      <ion-icon color="sky" size="large" name="logo-apple"></ion-icon>
      <div class="content-row">
        <ion-title size="large">924 cal consumidas</ion-title>
        <ion-title size="small">1676 cal restantes</ion-title>
      </div>
      <ion-buttons slot="end">
        <ion-button><ion-icon slot="icon-only" size="large" name="add-outline"></ion-icon></ion-button>
      </ion-buttons>
    </div>
  </div>
</ion-content>
