<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="today-outline" color="snow"></ion-icon>
      <ion-label color="snow">{{ 'COMMON.DAILY' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="target">
      <ion-icon name="disc-outline" color="snow"></ion-icon>
      <ion-label color="snow">{{ 'COMMON.TARGET' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline" color="snow"></ion-icon>
      <ion-label color="snow">{{ 'COMMON.PROFILE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
