<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="snow" icon="chevron-back-outline" [defaultHref]="URL_HOME"></ion-back-button>
      <ion-title color="snow">{{ 'FOOD.addFood' | translate }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
  <!-- SEGMENT -->
  <ion-segment scrollable="false" (ionChange)="segmentChanged($event)" color="sky">
    <ion-segment-button *ngFor="let m of [ 'Frecuente', 'Reciente', 'Personalizado' ]; let i = index;" layout="icon-start">
      <ion-label color="snow">{{ m }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-buttons class="content-padding" color="sky">
    <ion-button color="sky" fill="clear" [routerLink]="[URL_ADD_FOOD]">Añadir elemento personalizado</ion-button> 
  </ion-buttons>
  <ion-list>
    <ion-item>
      <ion-title>Pechuga de pavo</ion-title>
      <p>130 gramos, 127 cal</p>
    </ion-item>
    <ion-item>
      <ion-title>Pechuga de pavo</ion-title>
      <p>130 gramos, 127 cal</p>
    </ion-item>
    <ion-item>
      <ion-title>Pechuga de pavo</ion-title>
      <p>130 gramos, 127 cal</p>
    </ion-item>
  </ion-list>
</ion-content>
