/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/** COLOR CUSTOM **/
.ion-color-snow {
    --ion-color-base: var(--ion-color-snow);
    --ion-color-base-rgb: var(--ion-color-snow-rgb);
    --ion-color-contrast: var(--ion-color-snow-contrast);
    --ion-color-contrast-rgb: var(--ion-color-snow-contrast-rgb);
    --ion-color-shade: var(--ion-color-snow-shade);
    --ion-color-tint: var(--ion-color-snow-tint);
}

.ion-color-sky {
    --ion-color-base: var(--ion-color-sky);
    --ion-color-base-rgb: var(--ion-color-sky-rgb);
    --ion-color-contrast: var(--ion-color-sky-contrast);
    --ion-color-contrast-rgb: var(--ion-color-sky-contrast-rgb);
    --ion-color-shade: var(--ion-color-sky-shade);
    --ion-color-tint: var(--ion-color-sky-tint);
}

/** STYLES CUSTOM **/

.content-card {
    margin: 20px;
    padding: 20px 18px 20px 18px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff
}

.content-card-graphic {
    margin: 0 77px 0 78px;
    text-align: center;
}

.content-column {
    display: flex;
    flex-direction: row;
}

.content-row {
    display: flex;
    flex-direction: column;
}