<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="snow" [routerLink]="[URL_LOGIN]">
        <ion-icon *ngIf="profile.avatar === ''" color="snow" slot="icon-only" name="person-circle-outline"></ion-icon>
        <img *ngIf="profile.avatar !== ''" [src]="profile.avatar" alt="Avatar"/>
      </ion-button>
      <ion-title color="snow">{{profile.displayName}}</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-title color="snow">Semana 1</ion-title>
      <ion-button color="snow">
        <ion-icon color="snow" slot="icon-only" name="today-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-card">
    <div class="content-card-graphic">
      <ion-icon color="sky" slot="center" size="large" name="stats-chart-outline"></ion-icon>
      <ion-card-title size="large" color="sky">Vas Genial</ion-card-title>
      <div class="content-column">
        <ion-title size="small">924</ion-title>
        <ion-icon size="small" name="fast-food-outline"></ion-icon>
        <ion-title size="small">2600</ion-title>
        <ion-icon size="small" name="flame-outline"></ion-icon>
      </div>
    </div>
  </div>

  <ion-card class="horizontal-card" >
      <ion-icon class="card-icon" [routerLink]="[URL_FEEDING]" src="../../../assets/icon/calories-progress.svg"></ion-icon>
      <div class="card-content" [routerLink]="[URL_FEEDING]">
        <ion-card-title size="large">924 cal consumidas</ion-card-title>
        <ion-card-subtitle size="small">1676 cal restantes</ion-card-subtitle>
      </div>
      <ion-button fill="clear" color="sky" [routerLink]="[URL_FOOD_LOGS]">
        <ion-icon slot="icon-only" size="large" name="add-outline"></ion-icon>
      </ion-button>
  </ion-card>
  
  <ion-card class="horizontal-card">
      <ion-icon class="card-icon" src="../../../assets/icon/weight-progress.svg"></ion-icon>
      <div class="card-content">
        <ion-card-title size="large">924 cal consumidas</ion-card-title>
        <ion-card-subtitle ssize="small">1676 cal restantes</ion-card-subtitle>
      </div>
        <ion-button fill="clear" color="sky">
          <ion-icon slot="icon-only" size="large" name="add-outline"></ion-icon>
        </ion-button>
  </ion-card>
</ion-content>
